1) write a rules for creating variables

 - variables start with alpha-numeric values
 - it is case sensitive
 - cannot start with specials characters except "_"
 - keywords cant be used
 - variable cant start with numbers

2) what is type function and one example

 - it is used to derive which type of data is stored in a variable

In [1]:
a = 10
print(type(a))

<class 'int'>

3) what is difference between "=" and "=="

 - = is used to assign the values to variable
 - == check the values is true or false

4) what is difference between mutable and immutable

 - mutable can change, update and modify the values
 - immutable cannot change or modify the values

5) apply bitwise operation between 143 and 420

In [2]:
a = 143
b = 420
print(a&b)

132

6) 101 right shift with 2

In [3]:
a = 101>>2
print(a)

25

7)write a python code to print 10 natural numbers using for and wile loop

In [9]:
#using for loop
a = 1
b = 11
for i in range (a,b):
  print(i)

1
2
3
4
5
6
7
8
9
10

In [14]:
#using while loop

user = int(input("enter the number"))
i = 1
while(i<=user):
  print(i)
  i+=1

enter the number10
1
2
3
4
5
6
7
8
9
10

8)write a program sum of first 10 natural numbers

In [19]:
# using for loop

a = [1,2,3,4,5,6,7,8,9,10]
sum = 0
for i in a:
  sum = sum+i
print(sum)

55

In [21]:
#using while loop

i = 1
sum = 0
while i<=10 :
  sum+=i
  i+=1
print(sum)

55